<!DOCTYPE html>
<html lang="pt-br">
<%- include('./parciais/header.ejs')%>
<body>
    <%- include('./parciais/nav.ejs') %>

    <div class="criar-conteudo-blog">
        <form>
            <label for="titulo"> Titulo do Blog</label><br>
            <input type="text" id="titulo" required><br>
            <label for="texto-curto">Texto Curto do Blog</label><br>
            <input type="text" id="texto-curto" required><br>
            <label for="conteudo">Conteúdo do Blog</label><br>
            <textarea id="conteudo" required></textarea><br>
            <button>Enviar</button>
        </form>
    </div>
    <%- include('./parciais/footer.ejs')%>
</body>
</html>