<!DOCTYPE html>
<html lang="pt-br">
<%- include('./parciais/header.ejs')%>
<body>
    <%- include('./parciais/nav.ejs') %>

    <div class="conteudo-blog">
        <h2>Tela Sobre a Empresa</h2>
    </div>
    <%- include('./parciais/footer.ejs')%>
</body>
</html>